In [1]:
import pandas as pd

In [4]:
team_df = pd.read_csv('TeamAPI.csv')
team_df

,데이터 시간,시리얼번호,미세먼지 (㎍/㎥),초미세먼지 (㎍/㎥),이산화탄소 (ppm),휘발성유기화합물 (ppb),온도(℃),습도(%),소음(dB),통합실내지수
0,2024-03-20 9:59,ICW0W2100488,36,13,365,36,19.5,15,72,93
1,2024-03-20 9:59,ICW0W2100506,0,0,95,5,10.9,28,59,92
2,2024-03-14 9:08,ICW0W2100587,55,20,392,6000,24.8,23,69,62
3,2024-03-20 9:59,ICW0W2100582,27,10,608,261,23.2,19,69,89
4,2024-03-20 9:59,ICW0W2100579,20,8,0,131,25.3,13,58,92
...,...,...,...,...,...,...,...,...,...,...
434,2024-03-21 13:58,ICW0W2100506,32,12,59,10,22,14,55,95
435,2024-03-14 9:08,ICW0W2100587,55,20,392,6000,24.8,23,69,62
436,2024-03-21 13:58,ICW0W2100582,30,11,583,55,22.7,19,66,92
437,2024-03-21 13:58,ICW0W2100579,11,4,0,215,25.9,12,63,93
438,2024-03-21 13:59,ICW0W2100562,26,14,596,493,24.5,14,61,81

In [9]:
team_df.iloc[0:,2:10]

,미세먼지 (㎍/㎥),초미세먼지 (㎍/㎥),이산화탄소 (ppm),휘발성유기화합물 (ppb),온도(℃),습도(%),소음(dB),통합실내지수
0,36,13,365,36,19.5,15,72,93
1,0,0,95,5,10.9,28,59,92
2,55,20,392,6000,24.8,23,69,62
3,27,10,608,261,23.2,19,69,89
4,20,8,0,131,25.3,13,58,92
...,...,...,...,...,...,...,...,...
434,32,12,59,10,22,14,55,95
435,55,20,392,6000,24.8,23,69,62
436,30,11,583,55,22.7,19,66,92
437,11,4,0,215,25.9,12,63,93
438,26,14,596,493,24.5,14,61,81

In [13]:
len(team_df)

439

In [24]:
team_df['온도(℃)']

0      19.5
1      10.9
2      24.8
3      23.2
4      25.3
       ...
434      22
435    24.8
436    22.7
437    25.9
438    24.5
Name: 온도(℃), Length: 439, dtype: object

In [33]:
team_sum = 0.0
valueList=[]
for key in team_df:
    if key == '온도(℃)':
        valueList.append(team_df[key][:]) # ??????????????????????????????????????????????????
avg = sum(valueList) / len(team_df)
avg

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
team_df['온도 평균'] = (team_df['온도(℃)'])